<li class='clearfix record <%= cycle("on", "on-hover") %>'>
  <span class='title'>
    <span class='actions'>
      <%= link_to refinery_icon_tag("#{comment.is_approved? ? 'cross' : 'tick'}.png"),
                  toggle_status_admin_comment_url(comment),
                  :title => "Mark this comment as #{comment.is_approved? ? 'refused' : 'approved'}" %>

      <%= link_to refinery_icon_tag("arrow_up.png"),
                  unmoderated_admin_comment_url(comment),
                  :title => "Send back to unmoderated comments" if BlogSetting.manual_moderation %>

      <%= link_to refinery_icon_tag('delete.png'),
                  admin_comment_url(comment),
                  :class => "cancel confirm-delete",
                  :title => "Remove this comment forever" -%>

      <%= link_to refinery_icon_tag('email_open.png'),
                  admin_comment_url(comment),
                  :title => "Read this comment" -%>
    </span>
    <%=h truncate comment.title, :length => 15 %> by <%=h truncate comment.name, :length => 15 %>
    <span class="preview">
      - <%=h truncate(comment.body, :length => 40) -%>
    </span>
  </span>
</li>