<%= render :partial => '/admin/blogs/side_bar' %>
<div id='records'>
  <% if searching? %>
    <h2>Search Results for "<%= params[:search] %>"</h2>
    <%= render :partial => "comment", :collection => @comments %>
  <% else %>
    <% if @unmoderated_comments.present? -%>
      <h2>Unmoderated Comments</h2>
        <ul>
          <%= render :partial => "comment", :collection => @unmoderated_comments %>
        </ul>
    <% elsif RefinerySetting.find_or_set(:blog_comment_need_approval, false) -%>
      <p>
        <%= refinery_icon_tag('accept.png', :style => 'vertical-align: bottom') %>
        Hooray! There are no unapproved comments because you've dealt with them all.
      </p>
    <% end -%>
    <h2>Comments History</h2>
    <% if @comments_history.present? -%>
      <%= will_paginate @comments_history, :previous_label => '&laquo;', :next_label => '&raquo;' %>
        <ul>
          <%= render :partial => "comment", :collection => @comments_history %>
        </ul>
      <%= will_paginate @comments_history, :previous_label => '&laquo;', :next_label => '&raquo;' %>
    <% else -%>
      <p>
        You have any comment yet.
      </p>
    <% end -%>
  <% end %>
</div>