<div id='actions'>
  <h2>Details</h2>
  <p>
    <strong>Status:</strong> <%= @comment.is_approved? ? "Unapproved" : "Refused" %><br/>
    <strong>Age:</strong> <%= time_ago_in_words(@comment.created_at) %>
  </p>
  <h2>Actions</h2>
  <ul>
    <li>
      <%= link_to "Mark this comment as #{@comment.is_approved? ? 'refused' : 'approved'}",
                    toggle_status_admin
                    {:action => "toggle_status", :id => @comment.id},
                    :class => @comment.is_approved? ? 'failure_icon' : 'success_icon'  %>
    </li>
    <li>
      <%= link_to "Back to all Comments", {:action => 'index'}, :class => "back_icon" %>
    </li>
  </ul>
</div>
<div id='records'>
  <h2>Comment</h2>
  <table id='comment'>
    <tr>
      <td>
        <strong>In</strong>
      </td>
      <td>
        <%= link_to @comment.blog.title, blog_post_url(@comment.blog.permalink) %>
        <%= link_to refinery_icon_tag("application_go.png"), blog_post_url(@comment.blog.permalink),
            :title => 'View this blog<br/><em>Opens in a new window</em>',
            :target => "_blank" %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>From</strong>
      </td>
      <td>
        <%=h @comment.name %> [<%= mail_to @comment.email, @comment.email, {:title => "Click to email this address"} %>]
      </td>
    </tr>
      <tr>
        <td>
          <strong>Title</strong>
        </td>
        <td>
          <%=h @comment.title %>
        </td>
      </tr>
    <tr>
      <td>
        <strong>Date</strong>
      </td>
      <td>
        <%= @comment.created_at.strftime("%A, %d of %b, %Y") %>
      </td>
    </tr>
    <tr>
      <td valign='top'>
        <strong>Message</strong>
      </td>
      <td>
        <p style='margin-top: 0px'>
          <%= h(@comment.body).gsub("\r\n\r\n", "\r\n").gsub("\r\n", "</p><p>") %>
        </p>
      </td>
    </tr>
  </table>
</div>
