<% content_for :head_after_javascript_libraries do %>
  <%= auto_discovery_link_tag(:rss, blog_url(:format => 'rss'), {:title => "#{RefinerySetting.find_or_set(:site_name, "Company Name")} Blog"}) %>
<% end %>

<% content_for :body_content_left do %>
  <% @blogs.each do |blog| %>
    <div class="blog">
      <h2><%= blog.title %></h2>
      <p>
        <small><%= blog.publishing_date.to_date.to_s(:long) %></small>
      </p>
      <p>
        <%= blog.excerpt %>
      </p>
      <p>
        <%= link_to 'Read more', blog_post_url(blog.permalink) -%>
      </p>
    </div>
  <% end %>
<% end %>

<% content_for :body_content_right do %>
  <%= render :partial => 'side_body' -%>
<% end %>

<%= render :partial => "/shared/content_page" %>
