<% content_for :head_after_javascript_libraries do %>
  <%= auto_discovery_link_tag(:rss, blog_url(:format => 'rss'), {:title => "#{RefinerySetting.find_or_set(:site_name, "Company Name")} Blog"}) %>
<% end %>

<% content_for :body_content_title do %>
  <%= @blog.title %>
<% end %>

<% content_for :body_content_left do %>
<div id='body_content_left' class='clearfix'>
  <%= @message if @message %>
  <%= error_messages_for :comment, :header_message => "Whoops there was a small problem",
                                    :message => "The following problems need to be corrected:" %>
  <div class="body">
    <%= @blog.body %>
  </div>
<% if @authors %>
  <% if @blog.author_list.present? and @blog.author_list.any? %>
    <div class="authors">
      <p>By
        <% @blog.author_list.each do |author|%>
          <%= link_to author, blog_author_url(author) -%><%= author == @blog.author_list.last ? '.' : ', ' %>
        <% end %>
      </p>
    </div>
  <% end %>
<% end %>
  <hr/>
<% if @categories %>
  <% if @blog.category_list.present? and @blog.category_list.any? %>
  <div class="categories">
    <p>Filled under:
      <% @blog.category_list.each do |category|%>
        <%= link_to category, blog_category_url(category) -%><%= category == @blog.category_list.last ? '.' : ', ' %>
      <% end %>
    </p>
  </div>
  <% end %>
<% end %>
<% if @tags %>
  <% if @blog.tag_list.present? and @blog.tag_list.any? %>
  <div class="categories">
    <p>Tags:
      <% @blog.tag_list.each do |tag| -%>
        <%= link_to tag, blog_tag_url(tag) -%><%= tag == @blog.tag_list.last ? '.' : ', ' -%>
      <% end -%>
    </p>
  </div>
  <% end %>
<% end %>

  <%= render :partial => 'comments' %>
  <%= render :partial => 'form' %>
</div>
<% end %>

<% content_for :body_content_right do %>
<div>
  <h2>Publishing Date</h2>
  Posted on <%= @blog.publishing_date %>
</div>

  <%= render :partial => 'see_also' %>
  <%= render :partial => 'side_body' %>
<% end %>

<%= render :partial => "/shared/content_page" %>
