<%= render :partial => 'side_bar' %>
<div id='records'>
  <% if searching? %>
    <h2>Search Results for "<%= params[:search] %>"</h2>
    <% if @blogs.any? %>
      <%= render :partial => "blog", :collection => @blogs %>
    <% else %>
      <p>Sorry, no results found.</p>
    <% end %>
  <% else %>
    <% if @blogs.any? %>
      <%= will_paginate @blogs, :previous_label => '&laquo;', :next_label => '&raquo;' %>
       <ul>
        <%= render :partial => 'blog', :collection => @blogs %>
       </ul>
      <%= will_paginate @blogs, :previous_label => '&laquo;', :next_label => '&raquo;' %>
    <% else %>
      <p>
        <strong>
          There are no posts yet.
          Click "Create New Post" to add your first post to your blog.
        </strong>
      </p>
    <% end %>
  <% end %>
</div>
